* {
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(184, 184, 255, 0.839);
    /* padding-top: 10px; padding-bottom: 10px; */

    /* padding: 10px 0 10px 0; */
    padding: 10px 0;
  }

  .image1 {
    border: 1px solid rgb(65, 65, 255);
    border-radius: 100%;
  
    width: 50px;
    margin-left: 20px;
  }

  .navbar {
    margin-right: 20px;
    display: flex;
    gap: 20px;
    /* justify-content: space-around;*/
    width: 85%;
    align-items: center;
  }

  li {
    list-style-type: none;
  }

.link,
.link-home {
  color: rgb(54, 54, 255);
  transition: color 0.3s;
}
.link:hover {
  cursor: pointer;
  color: rgb(220, 255, 47);
}
.left {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;
}
main {
  min-height: 80vh;
}

.module{
    padding:20px;
    border:2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

input {
    border-radius: 16px;
    padding: 8px;
    border: 1px solid rgb(99, 99, 255);
    outline: none;
  }

.submit-btn {
    width: fit-content;
    padding: 5px;
    background-color: aquamarine;
    border: none;
    transition: transform 0.5;

}

.submit-btn:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.footer{
    background-color: rgba(184, 184, 255, 0.839);
}
.list{
    padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.rights{
    text-align: center;
    font-size: 0.8rem;
}

@media screen and (max-width: 480px) {
    .module {
      gap: 0;
    }

.box {
    display: flex;
    flex-direction: column;
  }

}